<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="BullShitDatabase" connectionString="Data Source=.\SQl2008;Initial Catalog=DevKudoos_Readmodel;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="EventStore" connectionString="Data Source=.\sql2008;Initial Catalog=EventStore;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
